@model QslManagerWeb.Models.HomeModel
@{
    Layout = "~/Views/Master.cshtml";
}

<h1>Dates with missing locations</h1>
<ul>
    @foreach (var day in this.Model.DatesWithMissingLocations)
    {
        <li>@Html.ActionLink("View", "QsosWithoutLocation", new { date = day.Key }) @day.Key.ToShortDateString() (@day.Value)</li>
    }
</ul>