@{
    Layout = "~/Views/Master.cshtml";
}
<h1>Login</h1>
<form action="#" method="post">
    <label for="server">Server:</label><input type="text" name="server" />
    <label for="database">Database:</label><input type="text" name="database" />
    <label for="username">Username:</label><input type="text" name="username" />
    <label for="password">Password</label><input type="password" name="password" />
    <input type="submit" name="login" value="Log In" />
</form>